<div (click)="onClick()">
  <img
    *ngIf="important && !done"
    src="https://d1whtlypfis84e.cloudfront.net/guides/wp-content/uploads/2018/04/27085016/Exclamation-Mark.png"
  />
  <img *ngIf="done" src="https://ak.picdn.net/shutterstock/videos/1068849962/thumb/9.jpg?ip=x480" />

  <span [ngClass]="{ done: done, important: important }">{{ title }}</span>
</div>
