div {
  display: flex;
  margin-bottom: 15px;
  padding: 10px 15px;
  background-color: antiquewhite;
  cursor: pointer;
}

img {
  width: 15px;
  height: 15px;
}
span {
  margin-left: 20px;
}
span.done {
  text-decoration: line-through;
}
span.done,
span.important {
  margin-left: 5px;
}
