<div [ngStyle]="{ background: 'aqua', color: 'red', 'text-align': 'center' }">GeeksforGeeks</div>

<div>
  <p [ngStyle]="theme ? ligthTheme : darkTheme">this is it</p>
  <button (click)="theme = !theme">change theme</button>

  <p [ngClass]="{ active: active }">this is active</p>
  <p [ngClass]="{ bold: important }">this is bold</p>
  <div *ngFor="let person of people; let i = index">{{ i }} {{ person.name }} {{ person.age }}</div>

  <div [ngSwitch]="numberOfTasks">
    <span *ngSwitchCase="0">the case is 0</span>
    <span *ngSwitchCase="1">the case is 1</span>
    <span *ngSwitchCase="2">the case is 2</span>
    <span *ngSwitchCase="3">the case is 3</span>
    <span *ngSwitchDefault>the case is default</span>
  </div>
</div>
