<div [ngSwitch]="numberOfUnfinishedTasks">
  <p *ngSwitchCase="0">You have no tasks left! Enjoy your free time!</p>
  <p *ngSwitchDefault>You have {{ numberOfUnfinishedTasks }} tasks left.</p>
</div>
