<app-task-create (createTask)="taskService.addTask($event)"></app-task-create>
<app-task-summary [numberOfUnfinishedTasks]="taskService.getNumberOfUnfinishedTasks()"></app-task-summary>
<app-task-component
  *ngFor="let task of taskService.tasks"
  [title]="task.title"
  [important]="task.important"
  [done]="task.done"
  (toggleDone)="task.done = $event"
></app-task-component>
